rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /gallery/{docId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /wannados/{docId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /piercingPrices/{docId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
  }
}
