rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in [
          'info@soergel-design.de',
          'info@kleopatra-ink.com'
        ];
    }

    match /gallery/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /wannados/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /piercingPrices/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /users/{uid} {
      allow create: if isSignedIn() && request.auth.uid == uid;
      allow read, update: if isSignedIn() && request.auth.uid == uid;
      allow read, update, delete: if isAdmin();
    }
  }
}
